body {
	color: #dddddd;
	background: #222222;
}

#tableOfResearchingGUI {
	width: 1266.667px; /* Разрешение: ~76/50 */
	height: 830px;
	outline: 1px solid #cccccc;
}
#leftBar {
	float: left;
} #bar1 {
	width: 464px;
	height: 160px;
	padding: auto 32px;
	outline: 1px solid #999933;
} .itemSlot2 {
	width: 72px;
	height: 72px;
	margin: 32px;
	padding: 12px;
	outline: 1px solid #cccc66;
} #slot81 {
	float: left;
} #slot82 {
	float: right;
}
#bar2 {
	width: 464px;
	height: 458px;
	margin: 0;
	padding: 28px 0 24px 0;
} #bar2b {
	width: 406px;
	margin: auto;
	overflow: scroll;
	outline: 1px solid #cc00cc;
} #menuAspects {
	/* margin: auto; */
	outline: 1px solid #cccc66;
} #menuAspects td {
	width: 80px;
	height: 80px;
	vertical-align: top;
} .selectedAspect {
	outline: 8px solid #99ccff;
}
#bar2a {
	width: 248px;
	margin: 0 auto;
	padding: 0;
} #butScrollLeft, #butScrollRight {
	width: 124px;
	height: 46.667px;
	background: #224488;
	outline: 1px solid #00cccc;
} #butScrollLeft {
	float: left;
} #butScrollRight {
	float: right;
} #butScrollLeft:active, #butScrollRight:active {
	background: #000033;
}
#bar3 {
	width: 384px;
	height: 112px;
	padding: 24px 40px;
	outline: 1px solid #999933;
} .aspectSlot2 {
	width: 80px;
	height: 80px;
	padding: 2px;
	outline: 1px solid #cccc66;
} #slotCombAsp1 {
	float: left;
} #slotCombAsp2 {
	float: right;
} #butCombAsps {
	position: absolute;
	width: 165px;
	height: 84px;
	margin: 0 109.5px;
	background: #882288;
	outline: 1px solid #dd33dd;
} #butCombAsps:active {
	background: #330033;
}
#main {
	float: left;
	width: 802.667px;
	height: 829.333px;
	padding: 0; /* 36px 45.333px 36px 0 */
} #interface1 {
	float: left;
	margin: 36px 0;
	/* padding: 18.667px;
	width: 720px;
	height: 720px; */
	outline: 1px solid #999966;
}

.hexagon {
	position: absolute;
	/* margin-left: 320px;
	margin-top: 320px; */
	padding: auto;
	/* width: 80px;
	height: 80px; */
	text-align: center;
	/* border-radius: 40px; */
} .hexagonImg {
	position: absolute;
	z-index: -4;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: url("T4aspects/hexagonBg.png") #444433 no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	/* border-radius: 40px; */
} /* .hexagonImg:hover {
	background: url("T4aspects/hexagonBg_hover.png") #888866 no-repeat;
} */ .aspect {
	position: absolute;
	z-index: 0;
	margin: 0;
	padding: 0;
	width: 80px;
	height: 80px;
	background: no-repeat;
	-moz-background-size: auto 80px;
	-o-background-size: auto 80px;
	-webkit-background-size: auto 80px;
	background-size: auto 80px; /* cover | contain */
	/* -moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000; */
} .connectLine {
	display: none;
	position: absolute;
	z-index: -2;
	height: 3px;
	-ms-transform-origin: left center 0;
	-moz-transform-origin: left center 0;
	-webkit-transform-origin: left center 0;
	transform-origin: left center 0;
	background: #bbddff;
}

/* testing */

#screenshot1 {
	width: 969px; 
	height: 637px;
} #screenshot1 img, #screenshot1 div {
	position: absolute;
} .scr1block1 {
	width: 568px;
	height: 568px;
	margin-left: 354px;
	margin-top: 34px;
	outline: 1px solid #ff0000;
} .scr1block2 {
	width: 60px;
	height: 60px;
	margin-left: 608px;
	margin-top: 288px;
	outline: 1px solid #00ff00;
} .scr1block3 {
	width: 306px;
	height: 306px;
	margin-left: 29px;
	margin-top: 152px;
	outline: 1px solid #0000ff;
} .scr1block4 {
	width: 184px;
	height: 35px;
	margin-left: 92px;
	margin-top: 458px;
	outline: 1px solid #ffff00;
} .scr1block5 {
	width: 347px;
	height: 120px;
	margin-left: 7px;
	margin-top: 512px;
	outline: 1px solid #00ffff;
} .scr1block6 {
	width: 124px;
	height: 63px;
	margin-left: 123px;
	margin-top: 530px;
	outline: 1px solid #ff00ff;
}
